body{
    background: rgb(144, 193, 241);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
}

section{
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    width: 500px;
    height: 300px;
    margin: auto;
}

#recebe{
    padding: 10px;
}

#seltab{
    width: 150px;
    box-shadow: ;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
}