body{
    background: rgb(144, 193, 241);
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}
header{
    color: white;
    margin-bottom: 30px;
}

#qhora{
    height: 30px;
    border-radius: 5px;
}

#botao{
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 8px 30px;
}

section{
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    width: 500px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

div{
    padding: 10px;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

@media (max-width:600px){
    section{
        height: 300px;
        width: 200px;
        font-size: 1rem;
    }
    img{
        height: 150px;
        width: 150px;
    }

}
